.App {
  text-align: center;
  font-size: 15px;
}

.font-link {
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 120vh;
  max-width: 50vw;
  background: rgba(255, 255, 255, 0.25);
}

.react-pdf__Page {
  margin-top: 10px;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

/* .pdf {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  width: 40% !important;
  height: 100% !important;
} */

/* .collapse { 
  display: flex;
  flex-direction: column-reverse;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #7f02b9;
}

.shared-icon {
  font-size: large;

}

.banner {
  background: rgba(0, 0, 0, 0.25);
}

.box {
  background: rgba(0, 0, 0, 0.6);
  width: 80vw;
}

.bar {
  background: rgba(255, 255, 255, 0.15);
}

.logList {
  text-align: left;
  margin-top: 5%;
  margin-left: 10%;
}

.logList ul {
  margin-left: 0px;
}

.bg-home {
  background: linear-gradient(170deg, rgba(227, 81, 115, 0.853), rgba(210, 49, 87, 0.15) 70%),
    linear-gradient(215deg, rgb(0, 162, 255), rgba(16, 127, 192, 0.15) 75%),
    linear-gradient(265deg, rgb(16, 127, 192), rgba(16, 127, 192, 0.05) 60%),
    linear-gradient(5deg, rgba(144, 234, 48, 0.868), rgba(130, 235, 17) 100%);
}

.bg-home-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.0)), url('../public/images/59bsn5hgnojy.jpg');
  /* background-position: center -320px; */
  background-position: center bottom 320px;
  /* background-repeat: repeat; */
  background-size: cover;
  /* background-attachment: fixed; */
  width: 100vw;
  height: 100vh;
}

@media (max-width: 770px) {
  .bg-home-image {
    background-position: center -220px;
  }
}

@media (max-height: 650px) {
  .bg-home-image {
    background-position: center -80px;
  }
}

.featureCarousel {
  width: 100%;
  height: 100%;
  margin-block: 3%;
}

.carouselCont {
  background-color: rgba(10, 145, 255, 0.364);
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  /* padding-top: 1%; */
  min-height: 40vh;
}

.imgCont {
  float: left !important;
  width: 50%;
}

.textCont {
  padding: 1% !important;
  position: relative;
  height: 50%;
  right: 4%;
  width: 50%;
  font-size: 25px;
}

.carousel-caption {
  position: relative !important;
  top: 0 !important;
  height: 100% !important;
  width: 75% !important;
}

.textCont p {
  color: white !important;
}

.textCont h3 {
  color: white !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: white;
}